* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #282828;
    color: #f0ffffff;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    max-width: 310px;
    max-height: 330px;
}

.table__border,
td {
    border: 1px solid #e1e1e1;
}

.table__border td {
    padding: 5px;
}
