body {
    background-color: #282828;
    color: #f0ffffff;
}

#focus-info {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    padding: 10px;
    top: 8px;
    left: 240px;
}
